
body{
background: rgb(255,248,234);
background: linear-gradient(360deg, rgba(255,248,234,1) 10%, rgba(77,65,59,1) 100%);
font-family: Cento normal, cento bold;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 100;
    margin-bottom: 1rem;
}

p {
    font-size: 17px;
}

.navbar{
    background-color: rgba(26, 18, 11, 0.859);
}

.nav-link:hover {
    color: rgb(157, 157, 157);
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: rgb(157, 157, 157);
}

.nav-link {
    color: white;
}

img {
    max-height: 100%;
    max-width: 100%;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
}

.col1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 5rem;
    padding: 0;
}

.vvv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 1rem; */
    padding: 2rem;
}

.omne {
    margin-top: 4rem;
    /* margin-right: 1rem; */
}

.cast1 {
    margin-bottom: 1rem;
    /* border: solid 0.1rem; */
    border-radius: 1rem;
    /* background-color: #aea59a; */
    background-color: rgba(208,200,188,255);
    box-shadow: 5px 10px 18px rgba(77,65,59,1);
}

.education {
    border-radius: 1rem;
    background-color: rgba(208,200,188,255);
    box-shadow: 5px 10px 18px rgba(77,65,59,1);
    padding: 1rem;
}

.zaujmy {
    border-radius: 1rem;
    background-color: rgba(208,200,188,255);
    box-shadow: 5px 10px 18px rgba(77,65,59,1);
    padding: 1rem;
}

.row1 {
    border: 5rem;
}

.experience {
    margin-bottom: 3rem;
}

.skus {
    margin: 2rem;
}

.subheading {
    font-style: italic;
}

.cora {
    padding: 0.4rem;
}

.education {
    margin-bottom: 3rem;
}

.dalsic {
    margin-bottom: 3rem;
}

.zaujmy {
    margin-bottom: 3rem;
}

.kontakt {
    margin-bottom: 3rem;
    /* border: solid black 0.1rem;
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgb(255, 248, 240); */
}

footer {
    color: rgb(0, 0, 0);
    margin: 0;
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inep {
    margin: 0;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: rgb(81, 81, 81)   ;
}

